/* BASE STYLES */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #bbb;
    font-family: 'Helvetica Neue', serif;
    color: #fff;
}

/* HEADER */
header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background: url('../images/background.jpg') center / cover no-repeat fixed;
}

.header-title {
    color: #fff;
    text-shadow: 3px 3px 1px #c3073f;
    padding: 20px;
    font-family: 'Great Vibes', cursive;
    width: 200px;
    height: 100px;
}

.header-title:hover {
    color: #c3073f;
    text-shadow: 3px 3px 1px #fff;
}

.header-title h2,
.header-title p {
    margin: 0;
    padding: 0;
}

.header-title h2 {
    font-size: 3em;
}

.header-title p {
    border: 1px solid #aaa;
    border-radius: 25px;
    padding: 5px;
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
    position: absolute;
    top: 35%;
    left: 35%;
    animation: type 3s steps(13);
    overflow: hidden;
    white-space: nowrap;
    font-family: fantasy;
    border-right: 4px solid white;
    width: 13ch;
}

@keyframes type {
    0% {
        width: 0ch;
    }

    100% {
        width: 13ch;
    }
}

.links, .creds {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    color: #fff;
}

.links li, .creds li {
    padding: 0 20px;
    font-size: 1.1em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

nav a:visited {
    color: white;
}

nav a:active {
    color: blue;
}

/* MAIN IMAGE*/
.main-image {
    width: 100%;
}

/* GENERAL */
.section-text {
    text-align: center;
    margin-bottom: 0;
    text-decoration: underline;
}

/* PROJECTS */
.projects {
    max-width: 100%;
    margin: 0 auto;
    /* background-color: #c3073f; */
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 { /* project title */
    text-align: center;
    margin-bottom: 5px;
}

figure {
    padding: 5px;
}

figure img {
    height: 220px;
    width: 320px;
}

figcaption {
    text-align: center;
}

/* ABOUT */
.about p {
    padding: 0 10px;
}

/* FOOTER */
footer {
    text-align: center;
    color: black;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: white;
}

.social,
.social a {
    font-size: 30px;
    color: #bbb;
}

.fa-twitter {
    margin-right: 20px;
}

.hearts {
    color: red;
}

/* SCREENS BIGGER THAN 750PX */
@media screen and (min-width: 750px) {

    /* HEADER */

    header {
        flex-direction: row;
    }

    .header-title {
        font-size: 1em;
    }

    .logo {
        width: 100px;
    }

    /* ABOUT */

    h2 {
        text-align: center;
    }

    .about {
        width: 80%;
        margin: 0 auto;
    }

    /* PROJECTS */
    .works {
        /* flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1; */
    }

    figure {
        width: 90%;
        display: flex;
    }

    figure img {
        border-radius: 10%;
    }

    figure .text:nth-child(odd) {
        order: 2;
    }

    figcaption {
        text-align: justify;
        margin-left: 20px;
        align-self: center;
    }

    /* FOOTER */
    footer {
        width: calc(100% - 20px);
    }
}
