/* BASE STYLES */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #999;
    font-family: 'Helvetica Neue', serif;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #000;
}

.header-title {
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 1px red;
    padding: 20px;
    font-family: 'Great Vibes', cursive;
}

h1 {
    font-size: 3em;
}

h1,
.header-title p {
    margin: 0;
    padding: 0;
}

.header-title p {
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 25px;
    padding: 5px;
    font-size: 1.5em;
}

.links, .creds {
    display: flex;
    list-style-type: none;
    color: #fff;
}

.links li, .creds li {
    padding: 15px;
    font-size: 1.1em;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: blue;
    text-decoration: overline;
}

nav a:visited {
    color: white;
}

nav a:active {
    color: blue;
}

/* MAIN IMAGE*/
.main-image {
    width: 100%;
}

/* ABOUT */
h2 {
    text-align: center;
    margin-bottom: 0;
    text-decoration: underline;
}

.about p {
    padding: 0 10px;
}

/* PROJECTS */
.projects {
    max-width: 100%;
    margin: 0 auto;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    color: black;
    text-align: center;
    margin-bottom: 5px;
}

figure {
    padding: 5px;
}

figure img {
    height: 220px;
    width: 320px;
}

figcaption {
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    color: black;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: white;
}

.social,
.social a {
    font-size: 30px;
    color: #bbb;
}

.fa-twitter {
    margin-right: 20px;
}

.hearts {
    color: red;
}

/* SCREENS BIGGER THAN 750PX */
@media screen and (min-width: 750px) {

    /* HEADER */

    header {
        flex-direction: row;
    }

    .header-title {
        font-size: 1em;
    }

    .logo {
        width: 100px;
    }

    /* ABOUT */

    h2 {
        text-align: center;
    }

    .about {
        width: 80%;
        margin: 0 auto;
    }

    /* PROJECTS */
    .works {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1;
    }

    figure {
        display: flex;
        flex-direction: column;
    }

    /* FOOTER */
    footer {
        width: calc(100% - 20px);
    }
}
